body{
  background:#070B19;
}
h1{
  color: teal;
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}
ul{
  color: teal;
  text-decoration: none;
  font-size: 17px;
}
li{
  list-style-type: none;
  border:5px solid green;
  font-size:25px;
  font-weight:bold;
  text-align: center;
  font-family:Andale Mono, monospace;
  width:70%;
  margin-left: 100px;
}
dl{
  color: teal;
}
dt{
  font-size:20px;
  font-weight: bold;
  width: 70%;
  margin: 5px;
  margin-left: 60px;
}
dd{
  font-size:15px;
  width: 70%;
  margin: 5px;
  margin-left: 60px
}
