body{
  background:#070B19;
}
h1{
  color: teal;
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}
ul{
  color: teal;
  text-decoration: none;
  font-size: 17px;
}
li{
  list-style-type: none;
  font-size:25px;
  font-weight:bold;
  text-align: center;
  font-family:Andale Mono, monospace;
  width:33%;
  background: teal;
  color: white;

}
dl{
  color: teal;
}
dt{
  font-size:20px;
  font-weight: bold;
  width: 40%;
  margin: 5px;
  margin-left: 60px;
}
dd{
  font-size:15px;
  width: 40%;
  margin: 5px;
  margin-left: 60px
}
.files{
  position: absolute;
  top:15%;
  margin: auto;
  right:-250px;
  width:70%;
}
.network{
  position: absolute;
  top: 115%;
  right:-250px;
  width: 70%;
}
.permission{
  position: absolute;
  top: 180%;
  right:-250px;
  width: 70%
}
/*#container{
  position: static;
  width: 100%;
  margin-left: 15%;
}*/
/*media query from here*/
@media screen and (max-width:860px) {
  body{
    background:#070B19;
  }
  h1{
    color: teal;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    width: 80%;
    margin-left: 15%;
  }
  ul{
    color: teal;
    text-decoration: none;
    font-size: 35px;
  }
  li{
    list-style-type: none;
    font-size:35px;
    font-weight:bold;
    text-align: center;
    font-family:Andale Mono, monospace;
    width:80%;
    background: teal;
    color: white;

  }
  dl{
    color: teal;
  }
  dt{
    font-size:20px;
    font-weight: bold;
    width: 80%;
    margin: 5px;
    margin-left: 60px;
  }
  dd{
    font-size:15px;
    width: 80%;
    margin: 5px;
    margin-left: 60px
  }
  .directory{
    position: static;
    width: 80%;
    margin-left: 15%;
  }
  .files{
    position: static;
    width: 80%;
    margin-left: 15%;
  }
  .output{
    position: static;
    width: 80%;
    margin-left: 15%;
  }
  .search{
    position: static;
    width: 80%;
    margin-left: 15%;
  }
  .network{
    position: static;
    width: 80%;
    margin-left: 15%;
  }
  .permission{
    position: static;
    width: 80%;
    margin-left: 15%;
  }
  .processes{
    position: static;
    width: 80%;
    margin-left: 15%;
  }
}

@media screen and (max-width:450px){
  h1 {
    display: none;
  }
  li{
    font-size:20px;
  }
}
